---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import TypewriterText from "../components/TypewriterText";

const links = [
{
    name: "Developer Portfolio",
    url: "https://www.jorge-perez.dev/",
    icon: "terminal",
  },
  {
    name: "GitHub",
    url: "https://github.com/JPerez00",
    icon: "github",
  },
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/jperez0/",
    icon: "linkedin",
  },
  {
    name: "Twitter / X",
    url: "https://x.com/jperezverse",
    icon: "twitter",
  },
  {
    name: "Instagram",
    url: "https://www.instagram.com/lensgrime/",
    icon: "instagram",
  },
];

---

<Layout>
  <main class="mt-10 lg:mt-14 mx-auto w-full max-w-lg text-center">
    <!-- Profile Image -->
    <img
      src="/astrolinks/portrait.webp"
      alt="Profile Picture"
      class="w-32 h-32 rounded-full mx-auto mb-4 object-cover shadow"
    />

    <!-- Header / Name -->
    <h1 class="text-3xl font-bold mb-2">Jorge Perez</h1>

    <!-- Subheader / Description -->
    <TypewriterText client:idle />

    <!-- Links -->
    <div class="mt-8 flex flex-col gap-4">
      {links.map((link) => (
        <a
          href={link.url}
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center justify-center gap-1.5 px-4 py-3 rounded-full border bg-white hover:bg-zinc-200 transition-all text-zinc-700 font-medium hover:shadow"
        >
          <Icon name={link.icon} class="w-5 h-5" aria-label={link.name} />
          {link.name}
        </a>
      ))}
    </div>
  </main>
</Layout>
