<!-- Footer.astro -->
<footer class="mt-8 mb-4 text-center text-zinc-500 dark:text-zinc-400 text-sm transition-all">
    <p class="space-x-1">
      <a
        href="https://github.com/vcelletti/astrowidelinks"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-zinc-700 dark:hover:text-zinc-200 hover:underline transition-colors"
      >
        GitHub Repo
      </a>
      <span class="text-zinc-300 dark:text-zinc-600">|</span>
      <a
        href="https://github.com/JPerez00/astrolinks"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-zinc-700 dark:hover:text-zinc-200 hover:underline transition-colors"
      >
        Original Template
      </a>
      <span class="text-zinc-300 dark:text-zinc-600">|</span>
      <a
        href="https://github.com/vcelletti/astrowidelinks/blob/main/LICENSE"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-zinc-700 dark:hover:text-zinc-200 hover:underline transition-colors"
      >
        MIT License
      </a>
    </p>
  </footer>
  