<!-- Footer.astro -->
<footer class="mt-8 text-center text-zinc-400 text-sm transition-all">
    <p>
      <a
        href="https://github.com/JPerez00/astrolinks"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:underline"
      >
        GitHub Repo
      </a>
      &nbsp;|&nbsp;
      <a
        href="https://github.com/JPerez00/astrolinks/blob/main/LICENSE"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:underline"
      >
        MIT License
      </a>
    </p>
  </footer>
  